<h1><%= @player_1 %> vs <%= @player_2 %></h1>
<h2><%= @player_1 %>'s hit points : 100HP</h2>
<button formaction='/play' formmethod='post' type="submit" name='player_1_attack'>Attack Player!</button>
<%if @player_1_attack %>
<h2>You have hit <%= @player_2 %></h2>
<% end %>
<h2><%= @player_2 %>'s hit points : 100HP</h2>
<button formaction='/play' formmethod='post' type="submit" name='player_2_attack'>Attack Player!</button>
<%if @player_2_attack %>
<h2>You have hit <%= @player_2 %></h2>
<% end %>